.App {
  text-align: center;
}

header {
  font-size: xx-large;
  margin: 25px 0;
}

label{
  margin-right: 5px;
}

.form-fields {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin:  20px auto;
  border-radius: 30px;
  padding: 15px 20px;
  background-color: rgb(240, 240, 240);
}

.form-fields>input{
  border-radius: 30px;
  padding: 0px 5px;
}

.submit-input, button{
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}

a{
  text-decoration: none;
  color: rgb(136, 135, 135);
}