.App {
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 2px;
}

.activeTabStyle {
  width: 60px;
  padding: 10px;
  background-color: black;
  color: white;
}

.inactiveTabStyle {
  width: 60px;
  padding: 10px;
  border: 1px solid #ccc;
}

.textArea {
  padding: 10px;
  margin: 0 auto;
  width: 60%;
  height: 200px;
  border: 1px solid #ccc;
  display: flex;
}