.App {
  text-align: center;
}

#todo-list {
  margin: 20px;
  display: flex;
  justify-content: center; 
}

.addBtn {
  height: 35px;
  width: 75px;
  margin: 20px;
  background-color: rgb(39, 39, 214);
  color: white;
  border-radius: 6px;
}

.delete {
  height: 35px;
  width: 75px;
  margin: 20px;
  background-color: black;
  color: white;
  border-radius: 6px;
}

input[type="checkbox"] {
  margin: 20px;
}


.completed {
  text-decoration: line-through;
}

.notCompleted {
  text-decoration: none;
}